version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8081:80"
    env_file: [".env"]
    volumes:
      - ./src:/var/www/html   # pratique en dev
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cvdb
      MYSQL_USER: cvuser
      MYSQL_PASSWORD: cvpass
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-ucvuser", "-pcvpass"]
      interval: 5s
      timeout: 3s
      retries: 30

volumes:
  db_data:
